.formControl{
    
}

.formControl.error input,
.formControl.error textarea 
{
    border: 2px red solid;
}

.formControl.error span
{
    color: red;
}

.formSummeryError{
    padding: 5px;
    border: 2px red solid;
    color: red;
}